<h1>Getting started</h1>

<ol>
    <li><a href="introduction.html">Why Twinkql?</a></li>
    <li><a href="installation.html">Downloading and installing</a></li>
</ol>

<h1>Configuration</h1>
<ol>
    <li><a href="configurationxml.html">Configuration XML</a></li>
</ol>

<h1>Twinkql Context</h1>

<ol>
    <li><a href="context.html"><em>TwinkqlContextFactory</em></a></li>
    <li><a href="spring-context.html">Using Spring</a></li>
</ol>

<h1>Twinkql Template</h1>

<ol>
	<li><a href="template.html"><em>TwinkqlTemplate</em></a></li>
    <li><a href="template-factory.html"><em>TwinkqlTemplateFactory</em></a></li>
    <li><a href="spring-template-factory.html">Using Spring</a></li>
</ol>

<h1>Mapping</h1>
<h2>SPARQL Maps</h2>
<ol>
    <li><a href="sparqlMap.html">The <code>sparqlMap</code></a></li>
</ol>

<h2>Defining a SPARQL Query</h2>
<ol>
	<li><a href="select.html">A SPARQL <code>select</code></a></li>
	<li><a href="dynamic-parameters.html">Dynamic parameters</a></li>
</ol>

<h2>Working with ResultSets</h2>
<ol>
	<li><a href="resultMap.html">The <code>resultMap</code></a></li>
	<li><a href="rowMap.html">The <code>rowMap</code></a></li>
	<li><a href="associations-and-collections.html">Associations and Collections</a></li>
	<li><a href="afterMap-callback.html">The <code>afterMap</code> callback</a></li>
	<li><a href="modifier-callback.html">The <code>modifier</code> callback</a></li>	
</ol>

<h1>More information</h1>
<ol>
    <li><a href="links.html">Links &amp; more information</a></li>
</ol>
